@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="/Content/stylematerial.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>LOGIN</title>
</head>
<body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/Scripts/jsmaterial.js"></script>
    <form>
        <div class="card-panel teal lighten-2 white-text">
            <h4>Autorization</h4>
        </div>
        <div class="container">
            <input id="login" placeholder="Username" type="text" required="">
            <input id="pass"  placeholder="Password" type="password" required="">
            <input id="111" placeholder="Password" type="text" required="" style="display:none">
        </div>
        <div>     
            <a class="waves-effect waves-light btn" id="reg" style="margin-right:8px; padding:0; float:right"><button style="padding:0.8rem 3rem" onclick="enter()">Log In</button></a>
        </div>
    </form>
    <script type="text/javascript">
        function enter() {
            var log = $("#login").val();
            var pass = $("#pass").val();
            if ((log == "admin") && (pass == "123456"))
                document.location.href = "/Files/Manager";
            else {
                $("#login").val('');
                $("#pass").val('');
            }
            /*$.ajax({
                type: 'GET',
                url: 'Url.Action("Enter", "Files")',
                data: { "login": log, "pass": pass }
            });*/
        }
    </script>
</body>
</html>
